Package: com.leftyfl1p.smartbatterypercentage
Name: SmartBatteryPercentage
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Combine the battery % of the device and the Apple Smart Battery Case. Should work with 9.0-9.3. Only tested on 9.0.2 & 9.3.3. ONLY works with Apple’s case since other battery cases are just seen as power sources.
Maintainer: leftyfl1p <leftyfl1p@icloud.com>
Author: leftyfl1p <leftyfl1p@icloud.com>
Section: Tweaks
